In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#df = pd.read_csv("H:\\Other computers\\Ryzen-PC\\Learning\\DataCamp\\Intermediate Python\\Data\\Sample-sales-data-excel.csv",index_col=0)
df = pd.read_csv("/home/shashankraj/Documents/Learning/DataCamp/Intermediate Python/Data/Sample-sales-data-excel.csv",index_col=0)

### Getting Around the DataFrame.. Basic Functions.

In [ ]:
## For a Given Dataframe 
## We can get the Basic Info Via. 

df.head()     # -- Head of the Data Frame
df.info()     # -- Information about the column types and missing values in homelessness.
df.shape      # -- No. of Rows and Columns in the DataFrame
df.describe() # -- Sttistical Information about the dataset

In [ ]:
# .values: A two-dimensional NumPy array of values. Prints all the values.
# .columns: An index of columns: the column names. Prints the column names. 
# .index: An index for the rows: either row numbers or row names. Prints the row indexe names.

### Sorting and Subsetting the DataFrame

In [ ]:
print(df.sort_values("Sales").head()) # --> This will sort the given column with ascending order. 
print(df.sort_values("Sales",ascending = False).head()) # --> Descending Order Sort

## We can pass a list of column names to sort the dataframe using that list 
print(df.sort_values(['Sales','Quantity']).head())


# we can also specify seperate sorting to separate columns 
print(df.sort_values(['Sales','Quantity'], ascending = [True,False]).head())

#In this, the first column is sorted Ascending and the second one, Descending.

#### Double Bracket Explanation

In [ ]:
# #Double Brackets act perform the following task. 

#df[[]] 

# The First Set of Brackets is for subsetting the data frame and the second set of brackets 
# provides a list of values to subset the data frame from.

## Subsetting the Dataframe on Multiple Conditions.

In [ ]:
is_test = df["Sales"] > 1000 #= "condition1"
is_test2 = df["Quantity"] < 10 # "condition2"

df[is_test & is_test2] #--> Now we are subsetting the dataframe on two conditions.

In [ ]:
# Subsetting one column on multiple conditions. 

# We can subset one column based on multiple values using the isin operator. 
# condition = df['col1'].isin(["cond1","cond2"])
# df[condition]


# Example of Using isin
# Subset for rows in South Atlantic or Mid-Atlantic regions

# Regions = ['South Atlantic','Mid-Atlantic']
# Condition = homelessness['region'].isin(regions)
# South_mid_atlantic = homelessness[condition]

# See the result
# print(south_mid_atlantic)
#

## Aggregating DataFrames

In [ ]:
##  Dropping the Duplicates 

df.drop_duplicates(subset =['Sales','Quantity'])

In [ ]:
## Applying Summary Stats to dates. 

#df['date_col'].min() -- > Gives the oldes value 
#df['date_col'].max() --> Gives the newest value

In [ ]:
## Percentiles and Quartiles 

# df['column'].quantile() ->    It gives the quantiles 
# df['column'].quantile(0.5) ->    It gives the 50th percentile

In [ ]:
## Aggregates 

# df['column1'].agg()  --> Aggregate the column based on a value or a List 

# The .agg() method allows you to apply your own custom functions to a DataFrame, 
# as well as apply functions to more than one column of a DataFrame at once, making your aggregations super-efficient. 

## Example 

# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)
    
# Print IQR of the temperature_c column
# print(sales['temperature_c'].agg(iqr))

# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
print(df[["Sales", "Quantity", "Discount"]].agg([np.mean,np.median]))

In [ ]:
## Cumulative Sum

cond = df['Sales'] > 10000

print(df['Sales'].cumsum().head())  #--> Returns the Cumulative sum of the values of the column. 

# We can also perform the following operations

# .cummax()
# .cummin()
# .cumprod()

In [ ]:
df_1 = df.sort_values('Order Date', ascending=False)

In [ ]:
df_1

In [ ]:
df_1['Cumulative Quantity'] = df['Quantity'].cumsum()
df_1

## Counting

In [ ]:
df.loc[:,["Segment"]].drop_duplicates()

In [ ]:
## Dropping Duplicate 

df.loc[:].drop_duplicates(subset = ['Segment','Category'])

In [ ]:
## Counting the Occurances of a Value

df['Segment'].value_counts().sort_values()

In [ ]:
## Getting Proportion of Sales, Programatically. 

df.groupby(["Segment","Category"])["Sales"].sum()/sum(df["Sales"])

In [ ]:
# For each Category type, aggregate weekly_sales: get min, max, mean, and median
df.groupby("Category")["Sales"].agg([min,max,sum,np.mean,np.median])

## Pivot Tables

In [ ]:
df.pivot_table(values=["Sales","Profit"],index = ["Segment","Category"],aggfunc=[np.mean,max])

In [ ]:
df.pivot_table(values="Profit",index = "Category",columns="Segment")

In [ ]:
# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols
print(df.pivot_table(values="Sales", index="State", columns="Segment", margins=True,fill_value=0,aggfunc=np.mean))

In [ ]:
(301.50+391.76+125.46)/3